<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flowmart.product.mapper.ProductSpuMapper">
    <!-- ========== ResultMap：字段映射 ========== -->
    <resultMap id="BaseResultMap" type="com.flowmart.product.entity.ProductSpu">
        <id column="id" property="id"/>
        <result column="spu_code" property="spuCode"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="brand_id" property="brandId"/>
        <result column="main_image_url" property="mainImageUrl"/>
        <result column="carousel_images" property="carouselImages"
                typeHandler="com.flowmart.product.handler.JsonStringListTypeHandler"/>
        <result column="spec_json" property="specs"
                typeHandler="com.flowmart.product.handler.SpecListTypeHandler"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
    </resultMap>
</mapper>